@import url('https://fonts.googleapis.com/css?family=Spartan:regular,bold');
@import url('https://fonts.googleapis.com/css?family=Antonio:medium');

/* TAGS */
body {
    background-color: #070724;
    background-image: url("assets/background-stars.svg");
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    line-height: 25px;
}
h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 60px;
    text-transform: uppercase;
}
h2 {
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 5px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}
h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.6px;
    text-transform: uppercase;
}
h4 {
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
}
button {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
}
button:hover {
    cursor: pointer;
}

/* CLASSES */
.tab {
    box-sizing: border-box;
    font-size: 11px;
    border-color: transparent;
    border-width: 4px 0 0 0;
    border-radius: 0;
    height: 85px;
    padding: 0;
    margin: 0 20px;
    color: #838391;
}
.tab:hover {
    border-color: #419EBB;
    color: white;
}
.option {
    width: 350px;
    height: 48px;
    text-align: left;
    border-style: solid;
    border-radius: 0;
    border-color: #38384F;
    margin: 8px 0;
    background-color: transparent;
}
.option:hover {
    background-color: #38384F;
}
.option .optionID {
    color: #838391;
    margin: 18px;
}
.box {
    width: 232px;
    height: 124px;
    border: 1px solid #38384F;
    padding-top: 4px;
    padding-left: 23px;
    margin: 15px;
    display: inline-block;
}
.box .boxName {
    color: #838391;
}

.planetImage {
    /*position: relative;*/
    padding: 100px 250px;
}

.geologyImage {
    width: 150px;
    position: relative;
    margin: -100px -200px;
}

.wikipedia {
    margin: 20px 0;
    color: #838391;
}
.wikipedia a {
    color: #838391;
    font-weight: bold;
}
.wikiarrow {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 6px;
    background-image: url("assets/icon-source.svg");
}

/* IDS */

#header {
    height: 85px;
}
#title {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    letter-spacing: -1.05px;
    float: left;
}
#tabs {
    float: right;
}
#content {
    width: 1200px;
}
#left {
    width: 800px;
    margin-right: 20px;
    display: inline-block;
}



#right {
    width: 350px;
    margin-left: 20px;
    display: inline-block;
}
#bottom {
}